<template>
    <div class="py-20 border-t border-b">
        <div class="container">
            <h2 class="text-4xl font-airbnb-cereal-app-book">Course Name</h2>
            <div class="grid grid-cols-1 gap-5 md:gap-10 lg:gap-20 lg:grid-cols-2 xl:grid-cols-3">
                <course-progress-card :active="true"></course-progress-card>
                <course-progress-card :active="false"></course-progress-card>
                <course-progress-card :active="false"></course-progress-card>
                <course-progress-card :active="false"></course-progress-card>
                <course-progress-card :active="false"></course-progress-card>
                <course-progress-card :active="false"></course-progress-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>
