<template>
  <div class="flex flex-col h-screen overflow-auto lg:overflow-hidden">
    <!---#region Navbar-->
    <navbar-2></navbar-2>

    <div class="lg:flex-1 grid w-full grid-cols-1 lg:grid-cols-3">
      <!--#region Enoncé-->
      <div class="flex flex-col w-full h-screen lg:h-auto">
        <div class="flex items-center px-10 py-2 text-lg h-editor-bar text-black-second bg-exercise-gray font-airbnb-cereal-app-book">
          Exercise # 04
        </div>
        <div class="px-10 py-6 space-y-4 overflow-y-auto text-sm font-airbnb-cereal-app-light text-black-default scrollbar scrollbar-thumb-scrollbar-gray scrollbar-track-gray-100">
          <h2 class="text-lg font-airbnb-cereal-app-medium text-black-second">Lorem Ipsum has been</h2>
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
            five centuries, but also the leap into el ectronic
          </p>
          <p>
            typesetting, remaining essentially unchanged. It was popu larised in the 1960s with the release of Letraset sheets cont aining Lorem Ipsum passages, and more recently with desk top publishing
            software like Aldus PageMaker including ver sions of Lorem Ipsum.
          </p>
          <p>
            <strong>typesetting, remaining essentially</strong> unchanged. It was popu larised in the 1960s with the release of Letraset sheets cont aining Lorem Ipsum passages, and more recently with desk top
            publishing software like Aldus PageMaker including ver sions of Lorem Ipsum.
          </p>
          <p>
            typesetting, remaining essentially unchanged. It was popu larised in the 1960s with the release of Letraset sheets cont aining Lorem Ipsum passages, and more recently with desk top publishing
            software like Aldus PageMaker including ver sions of Lorem Ipsum.
          </p>
          <p>
            typesetting, remaining essentially unchanged. It was popu larised in the 1960s with the release of Letraset sheets cont aining Lorem Ipsum passages, and more recently with desk top publishing
            software like Aldus
          </p>
          <p>
            typesetting, remaining essentially unchanged. It was popu larised in the 1960s with the release of Letraset sheets cont aining Lorem Ipsum passages, and more recently with desk top publishing
            software like Aldus
          </p>
          <p>
            typesetting, remaining essentially unchanged. It was popu larised in the 1960s with the release of Letraset sheets cont aining Lorem Ipsum passages, and more recently with desk top publishing
            software like Aldus
          </p>
          <p>
            typesetting, remaining essentially unchanged. It was popu larised in the 1960s with the release of Letraset sheets cont aining Lorem Ipsum passages, and more recently with desk top publishing
            software like Aldus
          </p>
        </div>
      </div>

      <!--#region Editor-->
      <div class="w-full h-screen lg:h-auto">
        <editor @run="onRun" />
      </div>

      <!--#region Result-->
      <div class="w-full h-screen lg:h-auto">
        <div class="flex items-center h-editor-bar">
          <div class="flex items-center px-6 py-2 space-x-8 text-lg h-editor-bar text-black-second bg-exercise-gray font-airbnb-cereal-app-book">
            <button class="transition-opacity duration-300 ease-in-out hover:opacity-75">
              <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8467 0L11.629 0.779681L4.93051 7.5L11.629 14.2203L10.8467 15L3.37111 7.5L10.8467 0Z" fill="#6F6F6F" />
              </svg>
            </button>
            <button class="transition-opacity duration-300 ease-in-out hover:opacity-75">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
                version="1.1"
                width="20"
                height="20"
                x="0"
                y="0"
                viewBox="0 0 489.711 489.711"
                style="enable-background:new 0 0 512 512"
                xml:space="preserve"
                class=""
              >
                <g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M112.156,97.111c72.3-65.4,180.5-66.4,253.8-6.7l-58.1,2.2c-7.5,0.3-13.3,6.5-13,14c0.3,7.3,6.3,13,13.5,13    c0.2,0,0.3,0,0.5,0l89.2-3.3c7.3-0.3,13-6.2,13-13.5v-1c0-0.2,0-0.3,0-0.5v-0.1l0,0l-3.3-88.2c-0.3-7.5-6.6-13.3-14-13    c-7.5,0.3-13.3,6.5-13,14l2.1,55.3c-36.3-29.7-81-46.9-128.8-49.3c-59.2-3-116.1,17.3-160,57.1c-60.4,54.7-86,137.9-66.8,217.1    c1.5,6.2,7,10.3,13.1,10.3c1.1,0,2.1-0.1,3.2-0.4c7.2-1.8,11.7-9.1,9.9-16.3C36.656,218.211,59.056,145.111,112.156,97.111z"
                        fill="#6f6f6f"
                        data-original="#000000"
                        style=""
                        class=""
                      />
                      <path
                        d="M462.456,195.511c-1.8-7.2-9.1-11.7-16.3-9.9c-7.2,1.8-11.7,9.1-9.9,16.3c16.9,69.6-5.6,142.7-58.7,190.7    c-37.3,33.7-84.1,50.3-130.7,50.3c-44.5,0-88.9-15.1-124.7-44.9l58.8-5.3c7.4-0.7,12.9-7.2,12.2-14.7s-7.2-12.9-14.7-12.2l-88.9,8    c-7.4,0.7-12.9,7.2-12.2,14.7l8,88.9c0.6,7,6.5,12.3,13.4,12.3c0.4,0,0.8,0,1.2-0.1c7.4-0.7,12.9-7.2,12.2-14.7l-4.8-54.1    c36.3,29.4,80.8,46.5,128.3,48.9c3.8,0.2,7.6,0.3,11.3,0.3c55.1,0,107.5-20.2,148.7-57.4    C456.056,357.911,481.656,274.811,462.456,195.511z"
                        fill="#6f6f6f"
                        data-original="#000000"
                        style=""
                        class=""
                      />
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                </g>
              </svg>
            </button>
          </div>
          <div class="flex-1 px-1 py-2 text-lg bg-white border-b text-black-second font-airbnb-cereal-app-book h-editor-bar">
            <input type="text" v-model="link" class="w-full h-full border-0 focus:ring-0 focus:shadow-none focus:outline-none focus:border-0" />
          </div>
          <div class="flex items-center px-4 py-2 text-lg h-editor-bar bg-exercise-gray text-black-second font-airbnb-cereal-app-book">
            <button class="transition-opacity duration-300 ease-in-out focus:outline-none hover:opacity-75">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M4.11199 7.8881C3.9948 7.7707 3.80498 7.7707 3.6878 7.8881L0.6 10.9759V9.30009C0.6 9.13429 0.465797 9.00009 0.3 9.00009C0.134203 9.00009 0 9.13429 0 9.30009V11.7001C0 11.8659 0.134203 12.0001 0.3 12.0001H2.7C2.8658 12.0001 3 11.8659 3 11.7001C3 11.5343 2.8658 11.4001 2.7 11.4001H1.0242L4.11199 8.31229C4.2292 8.19508 4.2292 8.00529 4.11199 7.8881Z"
                    fill="#6f6f6f"
                  />
                  <path
                    d="M11.7 0H9.30002C9.13422 0 9.00002 0.134203 9.00002 0.3C9.00002 0.465797 9.13422 0.6 9.30002 0.6H10.9756L7.88802 3.6878C7.77081 3.80501 7.77081 3.9948 7.88802 4.11199C8.00521 4.2292 8.19503 4.2292 8.31222 4.11199L11.4 1.0242V2.7C11.4 2.8658 11.5342 3 11.7 3C11.8658 3 12 2.8658 12 2.7V0.3C12 0.134203 11.8658 0 11.7 0Z"
                    fill="#6f6f6f"
                  />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="12" height="12" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </div>
        <div class="h-full overflow-y-auto bg-white">
          <iframe title="Preview" class="w-full h-full" :srcdoc="code"></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar2 from '../layouts/Navbar2'
export default {
  data() {
    return {
      code: '',
      link: 'https://localhost/'
    }
  },
  components: {
    Navbar2
  },
  methods: {
    onRun(value) {
      this.code = value
    }
  }
}
</script>
