<template>
  <div>
    <!-- Courses -->
    <div class="relative">
      <div
        class="absolute invisible bg-center bg-no-repeat bg-contain md:visible top-10 -left-16 md:-left-32 lg:-left-52 xl:-left-60 md:w-double-elipse-md md:h-double-elipse-md lg:w-double-elipse-lg lg:h-double-elipse-lg xl:w-double-elipse-xl xl:h-double-elipse-xl bg-elipse"
        style="z-index: -1;"
      ></div>
    </div>
    <!-- End -->

    <!-- Last viewed -->
    <div v-if="user" class="mx-6">
      <div class="relative">
        <div class="my-6 space-y-6">
          <h2 class="text-2xl text-black-default text-center sm:text-left font-airbnb-cereal-app-book">Last Viewed</h2>
        </div>
        <div v-if="!loading" class="flex justify-center sm:justify-start">
          <course-card
            v-if="lastViewed == '0.01' || lastViewed == '0.02'"
            :lastViewed="true"
            routeName="module-0-01"
            title="Module 0 - Onboarding"
            img="https://res.cloudinary.com/mukn/image/upload/v1637236354/images/Gif-1-animation_jyygp7.jpg"
            timereads="30 minutes"
            desc=""
          />
          <course-card
            v-else-if="lastViewed == '1.01'"
            :lastViewed="true"
            routeName="module-1-01"
            title="Module 1 - Installation"
            img="https://res.cloudinary.com/mukn/image/upload/v1637236361/images/Gif-2-animation_atar3y.gif"
            timereads="30 minutes"
            desc=""
          />
          <course-card
            v-else-if="lastViewed == '2.01'"
            :lastViewed="true"
            routeName="module-2-01"
            title="Module 2 - Your first steps"
            img="https://res.cloudinary.com/mukn/image/upload/v1637236357/images/Gif-3-animation_lcenoe.gif"
            timereads="2-3 hours"
            desc=""
          />
        </div>
        <ContentLoader v-else class="mt-4 w-4/12" :speed="1">
          <rect x="0" y="0" rx="0" ry="0" width="50%" height="20" />
          <rect x="0" y="30" rx="0" ry="0" width="75%" height="20" />
          <rect x="0" y="60" rx="0" ry="0" width="100%" height="20" />
        </ContentLoader>
      </div>
    </div>

    <!-- Caroussel -->
    <div class="mx-6 mb-6">
      <div class="relative">
        <div class="my-6 space-y-6">
          <h2 class="text-2xl text-black-default text-center sm:text-left font-airbnb-cereal-app-book">Modules</h2>
        </div>
        <carousel
          :perPageCustom="[
            [1, 1],
            [640, 2],
            [720, 3],
            [1140, 4],
            [1320, 5]
          ]"
          paginationActiveColor="#0677CE"
        >
          <slide>
            <course-card
              routeName="module-0-01"
              title="Module 0 - Onboarding"
              img="https://res.cloudinary.com/mukn/image/upload/v1637236354/images/Gif-1-animation_jyygp7.jpg"
              timereads="30 minutes"
              desc="A few words from your teachers, an onboarding questionnaire, and a crash introduction to DApps and Smart Contracts"
            />
          </slide>
          <slide>
            <course-card
              class="mx-4"
              routeName="module-1-01"
              title="Module 1 - Installation"
              img="https://res.cloudinary.com/mukn/image/upload/v1637236361/images/Gif-2-animation_atar3y.gif"
              timereads="30 minutes"
              desc="How to install Glow, and check if everything is fine"
            />
          </slide>
          <slide>
            <course-card
              class="mx-4"
              routeName="module-2-01"
              title="Module 2 - Your first steps"
              img="https://res.cloudinary.com/mukn/image/upload/v1637236357/images/Gif-3-animation_lcenoe.gif"
              timereads="2-3 hours"
              desc="understand the internal logic of an emblematic smart contract, and gives you more insight on how Glow works."
            />
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'
import { mapGetters } from 'vuex'
export default {
  components: {
    ContentLoader
  },
  metaInfo: {
    title: 'A language dedicated to DApps and Smart-Contracts',
    titleTemplate: '%s | Glow-Lang',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { name: 'description', content: 'Glow is a programming language used to make decentralized applications, otherwise known as DApps' },
      { name: 'og:title', content: 'A language dedicated to DApps and Smart-Contracts' },
      { name: 'og:site_name', content: 'Glow-Mooc' },
      { name: 'og:language', content: 'en' },
      { name: 'twitter:author', content: '@MutualKnowledge' },
      { name: 'keywords', content: 'Dapps, blockchain, crypto' }
    ],
    links: [{ rel: 'apple-touch-icon', sizes: '880x594', href: '/cropped-mukn-icon-300x300.png' }]
  },
  data() {
    return {
      loading: true,
      lastViewed: ''
    }
  },
  computed: {
    ...mapGetters('Authentication', ['user'])
  },
  async mounted() {
    this.loading = true
    if (this.user) {
      this.lastViewed = this.$storage.get('video')
    }
    this.loading = false
  }
}
</script>

<style>
.VueCarousel-dot[data-v-438fd353]:focus {
  outline: none !important;
}

.VueCarousel-inner {
  align-items: flex-start !important;
}
</style>
