<template>
  <div style="background: #f1f1f1;">
    <div class="flex justify-center mx-6 py-10">
      <div class="grid grid-cols-12 gap-4">
        <!-- Left Side -->
        <div class="md:col-span-3 col-span-12">
          <ul class="space-y-1">
            <li>
              <div @click="showTerms" :class="active.terms ? 'bg-gray-50 border-l-4 border-blue-second' : ''" class="hover:bg-gray-50 text-sm cursor-pointer p-2 font-airbnb-cereal-app-book">
                <span :class="active.terms ? 'text-blue-default' : 'text-gray-500'" class="font-airbnb-cereal-app-bold ml-2">Terms of use</span>
              </div>
            </li>
            <li>
              <div @click="showPrivacy" :class="active.privacy ? 'bg-gray-50 border-l-4 border-blue-second' : ''" class="hover:bg-gray-50 text-sm cursor-pointer p-2 font-airbnb-cereal-app-book">
                <span :class="active.privacy ? 'text-blue-default' : 'text-gray-500'" class="font-airbnb-cereal-app-bold ml-2">Privacy Policy</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- Right Side -->
        <div class="md:col-span-9 col-span-12">
          <!-- Privacy Policy-->
          <section class="flex flex-col items-center justify-center mx-auto" v-show="active.privacy">
            <div class="py-8 px-4 md:p-10 bg-white border border-gray-200 shadow-sm max-width-adaptive-sm w-full">
              <header class="container max-width-xs margin-bottom-lg">
                <div class="text-center text-component line-height-lg v-space-md margin-bottom-md">
                  <h1 class="mb-16 text-xl font-airbnb-cereal-app-extra-bold text-center text-gray-800 md:text-2xl">Privacy Policy</h1>
                </div>
              </header>
              <div class="text-component line-height-lg v-space-md">
                <p>
                  At Learn Glow, accessible from <a target="_blank" href="https://learn.glow-lang.org/" class="text-blue-second hover:underline">learn.glow-lang.org</a>, one of our main priorities is the
                  privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Learn Glow and how we use it. <br /><br />
                  If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us. <br /><br />
                  This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Learn Glow. This policy is
                  not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the
                  <a target="_blank" href="https://www.privacypolicygenerator.info/" class="text-blue-second hover:underline">Free Privacy Policy Generator.</a>
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Consent</strong>
                </h3>
                <p>
                  By using our website, you hereby consent to our Privacy Policy and agree to its terms.
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Information we collect</strong>
                </h3>
                <p>
                  The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
                </p>
                <br />
                <p>
                  If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and
                  any other information you may choose to provide.
                </p>
                <br />
                <p>
                  When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>How we use your information</strong>
                </h3>
                <p>
                  We use the information we collect in various ways, including to:
                </p>
                <br />
                <ul class="list-disc ml-16">
                  <li>Provide, operate, and maintain our website</li>
                  <li>Improve, personalize, and expand our website</li>
                  <li>Understand and analyze how you use our website</li>
                  <li>Develop new products, services, features, and functionality</li>
                  <li>
                    Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for
                    marketing and promotional purposes
                  </li>
                  <li>
                    Send you emails
                  </li>
                  <li>
                    Find and prevent fraud
                  </li>
                </ul>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Log Files</strong>
                </h3>
                <p>
                  Learn Glow follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The
                  information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number
                  of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on
                  the website, and gathering demographic information.
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Cookies and Web Beacons</strong>
                </h3>
                <p>
                  Like any other website, Learn Glow uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or
                  visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information. <br /><br />
                  For more general information on cookies, please read
                  <a target="_blank" href="https://www.generateprivacypolicy.com/#cookies" class="text-blue-second hover:underline">Cookies article from the Privacy Policy Generator.</a>
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Advertising Partners Privacy Policies </strong>
                </h3>
                <p>
                  You may consult this list to find the Privacy Policy for each of the advertising partners of Learn Glow. <br /><br />
                  Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Learn Glow, which are
                  sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to
                  personalize the advertising content that you see on websites that you visit. <br /><br />
                  Note that Learn Glow has no access to or control over these cookies that are used by third-party advertisers.
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Third Party Privacy Policies</strong>
                </h3>
                <p>
                  Learn Glow's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more
                  detailed information. It may include their practices and instructions about how to opt-out of certain options.
                </p>
                <br />
                <p>
                  You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the
                  browsers' respective websites.
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>CCPA Privacy Rights (Do Not Sell My Personal Information) </strong>
                </h3>
                <p>
                  Under the CCPA, among other rights, California consumers have the right to:
                </p>
                <br />
                <p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
                <br />
                <p>Request that a business delete any personal data about the consumer that a business has collected.</p>
                <br />
                <p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
                <br />
                <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>GDPR Data Protection Rights </strong>
                </h3>
                <p>
                  We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
                </p>
                <br />
                <p>
                  The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.
                </p>
                <br />
                <p>
                  The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you
                  believe is incomplete.
                </p>
                <br />
                <p>
                  The right to erasure – You have the right to request that we erase your personal data, under certain conditions.
                </p>
                <br />
                <p>
                  The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.
                </p>
                <br />
                <p>
                  The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.
                </p>
                <br />
                <p>
                  The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions
                </p>
                <br />
                <p>
                  If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
                </p>
                <br />

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Advertising Partners Privacy Policies </strong>
                </h3>
                <p>
                  Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online
                  activity.
                </p>
                <br />
                <p>
                  Learn Glow does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we
                  strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.
                </p>
              </div>
            </div>
          </section>
          <section class="flex flex-col items-center justify-center mx-auto padding-y-lg" v-show="active.terms">
            <div class="py-8 px-4 md:p-10 bg-white border border-gray-200 shadow-sm max-width-adaptive-sm w-full">
              <header class="container max-width-xs margin-bottom-lg">
                <div class="text-center text-component line-height-lg v-space-md margin-bottom-md">
                  <h1 class="mb-16 text-xl font-airbnb-cereal-app-extra-bold text-center text-gray-800 md:text-2xl">Terms of use</h1>
                </div>
              </header>
              <div class="text-component line-height-lg v-space-md">
                <p>
                  These terms and conditions outline the rules and regulations for the use of learn.glow-lang.org
                </p>
                <br />
                <p>
                  This website is the sole property of Mutual Knowledge Systems
                </p>
                <br />
                <p><strong>Phone:</strong> +1 617 575 9012</p>
                <p><strong>Email:</strong> contact@mukn.io</p>
                <p><strong>Address:</strong> 12 Aldwin Road #1 Boston, MA 02131</p>
                <br />
                <p>
                  By accessing this website we assume you accept these terms and conditions. Do not continue to use
                  <a target="_blank" href="https://learn.glow-lang.org/" class="text-blue-second hover:underline">learn.glow-lang.org</a> if you do not agree to take all of the terms and conditions stated on
                  this page.
                </p>
                <br />
                <p>
                  The following terminology applies to these Terms and Conditions, Privacy Statement, and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this
                  website and compliant with the Company’s terms and conditions.
                </p>
                <br />
                <p>
                  "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves.
                </p>
                <br />
                <p>
                  All terms refer to the offer, acceptance, and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose
                  of meeting the Client’s needs in respect of the provision of the Company’s stated services, in accordance with and subject to, prevailing law of Massachusetts - USA.
                </p>
                <br />
                <p>Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Cookies</strong>
                </h3>
                <p>
                  We employ the use of cookies for our users who created a user account. By accessing
                  <a target="_blank" href="https://learn.glow-lang.org/" class="text-blue-second hover:underline">learn.glow-lang.org</a>, you agreed to use cookies in agreement with the present Privacy Policy.
                </p>
                <br />
                <p>
                  Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for
                  people visiting our website.
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>License</strong>
                </h3>
                <p>Unless otherwise stated, <a target="_blank" href="https://learn.glow-lang.org/" class="text-blue-second hover:underline">learn.glow-lang.org</a> exists under the Apache 2.0 License.</p>
                <br />
                <p>
                  You hereby grant Mutual Knowledge Systems Inc. a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your comments sent publicly regarding the
                  Massive Online Open Course and the Glow language.
                </p>
                <br />
                <p>This license extends to our social media, as long as your username isn't publicly used without your formally given consent.</p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Hyperlinking to our Content</strong>
                </h3>
                <p>Anyone can hyperlink to our website, but we appreciate it if people hyperlink as follows:</p>
                <br />
                <ul class="list-disc ml-16">
                  <li>By use of our corporate name; or</li>
                  <li>By use of the uniform resource locator being linked to; or</li>
                  <li>By use of any other description of our website being linked to that makes sense within the context and format of content on the linking party’s site.</li>
                </ul>
                <br />
                <p>No use of the Glow logo or other artwork will be allowed for linking absent a trademark license agreement.</p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>iFrames</strong>
                </h3>
                <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Content Liability</strong>
                </h3>
                <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims regarding your Website.</p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Your Privacy</strong>
                </h3>
                <p>Please read our <router-link :to="{ name: 'privacy-policy' }" class="text-blue-second hover:underline">privacy policy</router-link>.</p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Reservation of Rights</strong>
                </h3>
                <p>We reserve the right to request that you remove all links or any particular link to our Website.</p>
                <br />
                <p>You approve to immediately remove all links to our Website upon request.</p>
                <br />
                <p>
                  We also reserve the right to amend these terms and conditions and their linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking
                  terms and conditions.
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Removal of links from our website</strong>
                </h3>
                <p>
                  If you find any link on our Website that is offensive for any reason, you are free to contact and inform us at any moment. We will consider requests to remove links but we are not obligated to
                  or so or to respond to you directly.
                </p>
                <p>
                  We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the
                  material on the website is kept up to date.
                </p>

                <h3 class="mt-16 mb-4 text-xl font-extrabold text-gray-800 md:text-2xl">
                  <strong>Disclaimer</strong>
                </h3>
                <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions regarding our website and its use. Nothing in this disclaimer will:</p>
                <br />
                <ul class="list-disc ml-16">
                  <li>limit or exclude our or your liability for death or personal injury;</li>
                  <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                  <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                  <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                  <li>
                    The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under
                    the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.
                  </li>
                </ul>
                <br />
                <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: 'Legalese',
    titleTemplate: '%s | Glow-Lang',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { name: 'og:title', content: 'Legalese' },
      { name: 'og:site_name', content: 'Glow-Mooc' },
      { name: 'og:language', content: 'en' },
      { name: 'twitter:author', content: '@MutualKnowledge' },
      { name: 'keywords', content: 'Dapps, blockchain, crypto' }
    ],
    links: [{ rel: 'apple-touch-icon', sizes: '880x594', href: '/cropped-mukn-icon-300x300.png' }]
  },
  data() {
    return {
      active: {
        terms: true,
        privacy: false
      }
    }
  },
  methods: {
    showTerms() {
      this.active.terms = true
      this.active.privacy = false
    },
    showPrivacy() {
      this.active.terms = false
      this.active.privacy = true
    }
  }
}
</script>
