<template>
  <div class="relative border-b">
    <div
      class="absolute z-0 hidden bg-center bg-no-repeat bg-contain md:visible top-10 -left-16 md:-left-32 lg:-left-52 xl:-left-60 md:w-double-elipse-md md:h-double-elipse-md lg:w-double-elipse-lg lg:h-double-elipse-lg xl:w-double-elipse-xl xl:h-double-elipse-xl"
      style="background-image: url(/images/double-elipse.png);"
    ></div>
    <div class="container py-24">
      <h2 class="text-4xl text-center text-black-default font-airbnb-cereal-app-book">Learn Glow</h2>
      <p class="mt-4 mb-20 text-lg text-center text-black-default font-airbnb-cereal-app-book">Start learning now</p>

      <div class="grid items-start justify-center grid-cols-1 gap-20 sm:grid-cols-2 lg:grid-cols-4">
        <course-card
          routeName="module-0-01"
          title="Module 0 - Onboarding"
          img="https://res.cloudinary.com/mukn/image/upload/v1630507409/images/course-intro_i54793.png"
          timereads="30 minutes"
          desc="A few words from your teachers, an onboarding questionnaire, and a crash introduction to DApps and Smart Contracts"
        />
        <course-card
          routeName="module-1-01"
          title="Module 1 - Installation"
          img="https://res.cloudinary.com/mukn/image/upload/v1630507410/images/install-setup_pkxngx.png"
          timereads="30 minutes"
          desc="How to install Glow, and check if everything is fine"
        />
        <course-card
          title="Module 2 - Your first steps"
          img="https://res.cloudinary.com/mukn/image/upload/v1630507411/images/stepping-into-programming_am97de.png"
          timereads="2-3 hours"
          desc="Coming Soon, 2021 Oct 12"
          :soon="true"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
