<template>
  <div class="container mx-auto">
    <div class="flex justify-center flex-col items-center py-40 space-y-4">
      <h1 class="text-9xl text-blue-second font-airbnb-cereal-app-extra-bold">404</h1>
      <span class="text-4xl text-blueGray-900 font-airbnb-cereal-app-extra-bold">Page not found</span>
      <p class="text-lg font-airbnb-cereal-app-light text-gray-400 text-center">Please check the url in the address bar and try again.</p>
      <button
        @click="go"
        class="bg-blue-default hover:bg-opacity-90 focus:border-gray-200 inline-flex items-center px-4 py-3 text-xs font-semibold tracking-widest text-white uppercase transition duration-150 ease-in-out border border-transparent rounded-sm active:bg-gray-900 focus:outline-none focus:shadow-outline-gray"
      >
        Go Back Home
      </button>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: 'Page not found',
    titleTemplate: '%s | Glow-Lang',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { name: 'og:title', content: 'Page not found' },
      { name: 'og:site_name', content: 'Glow-Mooc' },
      { name: 'og:language', content: 'en' },
      { name: 'twitter:author', content: '@MutualKnowledge' },
      { name: 'keywords', content: 'Dapps, blockchain, crypto' }
    ],
    links: [{ rel: 'apple-touch-icon', sizes: '880x594', href: '/cropped-mukn-icon-300x300.png' }]
  },
  methods: {
    go() {
      window.location.href = '/'
    }
  }
}
</script>
