<template>
  <div>
    <!-- Sub Menu -->
    <div class="bg-blue-default">
      <div class="w-full mx-6">
        <ul class="slide-course">
          <carousel
            :perPageCustom="[
              [1, 1],
              [720, 2],
              [1140, 3],
              [1320, 4]
            ]"
            :navigationEnabled="true"
            :paginationEnabled="false"
            class="py-2 font-airbnb-cereal-app-book flex flex-row items-center text-center mx-3 lg:mx-0 px-6 lg:px-0"
            navigationPrevLabel="<svg class='w-4 h-4 transform rotate-180 text-white fill-current' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.0297 0L6.51733 1.50738L19.4677 14.5L6.51733 27.4926L8.0297 29L22.4825 14.5L8.0297 0Z'/></svg>"
            navigationNextLabel="<svg class='w-4 h-4 text-white fill-current' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.0297 0L6.51733 1.50738L19.4677 14.5L6.51733 27.4926L8.0297 29L22.4825 14.5L8.0297 0Z'/></svg>"
          >
            <slide>
              <router-link v-slot="{ href, navigate }" custom :to="{ name: 'module-0-01' }">
                <a :href="href" @click="navigate" class="text-sm text-white font-airbnb-cereal-app-book">Module 0 - Onboarding</a>
              </router-link>
            </slide>
            <slide>
              <router-link v-slot="{ href, navigate }" custom :to="{ name: 'module-1-01' }">
                <a :href="href" @click="navigate" class="text-sm text-white font-airbnb-cereal-app-book">Module 1 - Installation</a>
              </router-link>
            </slide>
            <slide>
              <router-link v-slot="{ href, navigate }" custom :to="{ name: 'module-2-01' }">
                <a :href="href" @click="navigate" class="text-sm text-white font-airbnb-cereal-app-book">Module 2 - Your first steps</a>
              </router-link>
            </slide>
          </carousel>
        </ul>
      </div>
    </div>

    <!-- double elipse -->
    <div class="relative invisible hidden">
      <div
        class="absolute z-0 invisible hidden transform rotate-180 bg-center bg-no-repeat bg-contain md:visible top-10 -right-16 md:-right-32 lg:-right-52 xl:-right-60 md:w-40 md:h-40 lg:w-60 lg:h-60g xl:w-double-elipse-xl xl:h-double-elipse-xl"
        style="background-image: url(/images/double-elipse.png);"
      ></div>
    </div>

    <div class="container">
      <!-- In Case: HEADER -->
      <div class="grid grid-cols-1 gap-20 my-10 lg:grid-cols-12">
        <div class="lg:col-span-3">
          <h4 class="mt-1 text-base underline font-airbnb-cereal-app-bold">Module Content</h4>
          <div class="mt-8">
            <ul class="space-y-6">
              <li>
                <template>
                  <button v-show="play" class="flex items-start justify-start space-x-3" @click="pauseVideo">
                    <img class="h-5 w-5" src="https://res.cloudinary.com/mukn/image/upload/v1632225182/svg/pause_tuxozi.svg" alt="pause-icon" />
                    <span class="text-sm font-airbnb-cereal-app-medium text-blue-default text-left">0.1 How to install and test Glow </span>
                  </button>
                  <button v-show="!play" class="flex items-start justify-start space-x-3" @click="playVideo">
                    <img class="h-5 w-5" src="https://res.cloudinary.com/mukn/image/upload/v1632225182/svg/play_ijsmk3.svg" alt="play-icon" />
                    <span class="text-sm font-airbnb-cereal-app-medium text-blue-default text-left">0.1 How to install and test Glow </span>
                  </button>
                </template>
              </li>
            </ul>
          </div>
        </div>
        <div class="lg:col-span-9">
          <div class="flex flex-wrap justify-between space-y-2 sm:space-y-0">
            <h1 class="text-xl font-airbnb-cereal-app-book"><span class="font-airbnb-cereal-app-bold">Lecture 0.1/0.1</span> - How to install and test Glow</h1>
          </div>
          <!-- TODO: Video Player Here -->
          <div class="aspect-w-16 aspect-h-9 mt-6">
            <youtube :video-id="videoId" ref="youtube" @playing="playing" @paused="paused"></youtube>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  metaInfo: {
    title: 'How to install and test Glow',
    titleTemplate: '%s | Glow-Lang',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { name: 'og:title', content: 'How to install and test Glow' },
      { name: 'og:site_name', content: 'Glow-Mooc' },
      { name: 'og:language', content: 'en' },
      { name: 'twitter:author', content: '@MutualKnowledge' },
      { name: 'keywords', content: 'Dapps, blockchain, crypto' }
    ],
    links: [{ rel: 'apple-touch-icon', sizes: '880x594', href: '/cropped-mukn-icon-300x300.png' }]
  },
  data() {
    return {
      play: false,
      videoId: 'omG4q10wRV8'
    }
  },
  computed: {
    player() {
      return this.$refs.youtube.player
    },
    ...mapGetters('Authentication', ['user'])
  },
  methods: {
    async playVideo() {
      await this.player.playVideo()
      this.play = true
    },
    async pauseVideo() {
      await this.player.pauseVideo()
      this.play = false
    },
    async paused() {
      this.play = false
    },
    async playing() {
      this.play = true
      if (this.user) {
        this.$storage.set('video', '1.01')
      }
    }
  }
}
</script>

<style>
:root {
  --plyr-color-main: #0677ce;
}

.VueCarousel-navigation-button {
  padding: 0 !important;
}

.VueCarousel-navigation-button:focus {
  outline: none !important;
}

.VueCarousel-slide {
  text-align: left;
}

.VueCarousel-inner {
  display: flex;
  align-items: flex-start;
}

iframe {
  width: 100%;
}
</style>
