<template>
  <li @mouseover="open = true" @mouseleave="open = false" class="relative">
    <span target="_blank" href="https://glow-lang.org" :class="open ? 'hover:opacity-75' : ''" class="transition-opacity duration-200 ease-in-out whitespace-nowrap cursor-pointer">About</span>
    <div class="absolute w-16 h-4 top-5 cursor-pointer">&nbsp;</div>
    <ul class="absolute w-52 bg-white shadow tw-about-menu-dropdown bg-clip-padding min-w-max pt-3 pb-2 rounded-md px-1 m-0 -right-2 text-sm text-gray-500" :class="open ? 'block' : 'hidden'">
      <li class="hover:bg-gray-200 hover:text-opacity-90 rounded-md transition duration-100 ease-in-out">
        <a target="_blank" href="https://glow-lang.org/" class="text-sm w-full block px-2 py-2 clear-both font-airbnb-cereal-app-book no-underline whitespace-nowrap border-0 bg-transparent">Glow-lang.org</a>
      </li>
      <li class="hover:bg-gray-200 hover:text-opacity-90 rounded-md transition duration-100 ease-in-out">
        <a target="_blank" href="https://linktr.ee/mukn.io" class="text-sm w-full block px-2 py-2 clear-both font-airbnb-cereal-app-book no-underline whitespace-nowrap border-0 bg-transparent">Links</a>
      </li>
      <li class="hover:bg-gray-200 hover:text-opacity-90 rounded-md transition duration-100 ease-in-out">
        <router-link :to="{ name: 'faqs.index' }" class="text-sm w-full block px-2 py-2 clear-both font-airbnb-cereal-app-book no-underline whitespace-nowrap border-0 bg-transparent">FAQs</router-link>
      </li>
      <li class="hover:bg-gray-200 hover:text-opacity-90 rounded-md transition duration-100 ease-in-out">
        <router-link :to="{ name: 'legal' }" class="text-sm w-full block px-2 py-2 clear-both font-airbnb-cereal-app-book no-underline whitespace-nowrap border-0 bg-transparent">Legalese</router-link>
      </li>
    </ul>
  </li>
</template>

<script>
export default {
  data() {
    return {
      open: false
    }
  }
}
</script>

<style>
.tw-about-menu-dropdown {
  transform: translateY(12px);
  z-index: 2000;
}
.tw-about-menu-dropdown:before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  border: 6px solid #fff;
  transform: translateX(-40%) rotate(135deg);
  box-shadow: -2px 2px 3px rgba(50, 50, 50, 0.05);
}
</style>
