<template>
    <button :type="type" :class="blue ? 'bg-blue-default hover:bg-blue-second focus:border-gray-200' : 'bg-gray-800 hover:bg-gray-700 focus:border-gray-900'" class="inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase transition duration-150 ease-in-out border border-transparent rounded-sm active:bg-gray-900 focus:outline-none focus:shadow-outline-gray">
        <slot />
    </button>
</template>

<script>
    export default {
        name: 'Button',
        props: {
            type: {
                type: String,
                default: 'submit',
            },
            blue: {
                type: Boolean,
                default: false
            }
        }
    }
</script>
