<template>
    <a href="#" class="w-full px-6 pt-4 pb-6 mt-16 rounded-xl" :class="active ? 'bg-blue-default text-white' : 'text-black-default bg-course-default'">
        <div class="flex items-center justify-between mb-4 sm:mb-0">
            <h3 class="text-base lg:text-xl font-airbnb-cereal-app-medium" :class="{'font-airbnb-cereal-app-medium text-black-second': !active}">1. Course Introduction</h3>
            <vue-circle
                v-if="active"
                :progress="100"
                :size="65"
                :reverse="false"
                line-cap="round"
                :fill="'#ffffff'"
                empty-fill="rgba(0, 0, 0, .1)"
                :animation-start-value="0.0"
                :start-angle="0"
                insert-mode="append"
                :thickness="5"
                :show-percent="true"
            >
            </vue-circle>
            <vue-circle
                v-else
                :progress="40"
                :size="65"
                :reverse="false"
                line-cap="round"
                :fill="'#326287'"
                empty-fill="#f1f1f1"
                :animation-start-value="0.0"
                :start-angle="0"
                insert-mode="append"
                :thickness="5"
                :show-percent="true"
            >
            </vue-circle>
        </div>

        <h2 class="text-base lg:text-lg" :class="{'font-airbnb-cereal-app-book text-black-default': !active}">16/35 Lectures Completed</h2>
        <p class="mt-2 text-sm opacity-80 font-airbnb-cereal-app-light" :class="{'font-airbnb-cereal-app-book text-course-second': !active}">14 hr 14 min Remaining</p> 

        <h2 class="mt-6 text-base lg:text-lg" :class="{'font-airbnb-cereal-app-book text-black-default': !active}">12/32 Exercises Completed</h2>
        <a href="#" class="flex mt-4 lg:mt-3 group">
            <svg v-if="active" class="transition-opacity duration-200 ease-in-out group-hover:opacity-75" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C7.34784 20 4.8043 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10C0 7.34784 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34784 0 10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34784 20 10ZM8.4875 6.36625C8.39404 6.29971 8.28408 6.26018 8.16965 6.25198C8.05522 6.24379 7.94074 6.26724 7.83876 6.31978C7.73678 6.37233 7.65122 6.45192 7.59147 6.54986C7.53172 6.64779 7.50007 6.76028 7.5 6.875V13.125C7.50007 13.2397 7.53172 13.3522 7.59147 13.4501C7.65122 13.5481 7.73678 13.6277 7.83876 13.6802C7.94074 13.7328 8.05522 13.7562 8.16965 13.748C8.28408 13.7398 8.39404 13.7003 8.4875 13.6337L12.8625 10.5087C12.9435 10.4509 13.0096 10.3746 13.0551 10.2861C13.1007 10.1976 13.1245 10.0995 13.1245 10C13.1245 9.90047 13.1007 9.80237 13.0551 9.71388C13.0096 9.62539 12.9435 9.54906 12.8625 9.49125L8.4875 6.36625Z" fill="white"/>
            </svg>
            <svg v-else class="transition-opacity duration-200 ease-in-out group-hover:opacity-75" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C7.34784 20 4.8043 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10C0 7.34784 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34784 0 10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34784 20 10ZM8.4875 6.36625C8.39404 6.29971 8.28408 6.26018 8.16965 6.25198C8.05522 6.24379 7.94074 6.26724 7.83876 6.31978C7.73678 6.37233 7.65122 6.45192 7.59147 6.54986C7.53172 6.64779 7.50007 6.76028 7.5 6.875V13.125C7.50007 13.2397 7.53172 13.3522 7.59147 13.4501C7.65122 13.5481 7.73678 13.6277 7.83876 13.6802C7.94074 13.7328 8.05522 13.7562 8.16965 13.748C8.28408 13.7398 8.39404 13.7003 8.4875 13.6337L12.8625 10.5087C12.9435 10.4509 13.0096 10.3746 13.0551 10.2861C13.1007 10.1976 13.1245 10.0995 13.1245 10C13.1245 9.90047 13.1007 9.80237 13.0551 9.71388C13.0096 9.62539 12.9435 9.54906 12.8625 9.49125L8.4875 6.36625Z" fill="#6BADDC"/>
            </svg>
            <span class="ml-2 text-sm transition-opacity duration-200 ease-in-out group-hover:opacity-75" :class="{'font-airbnb-cereal-app-book text-course-blue': !active}">Continue Watching</span>
        </a>
    </a>
</template>


<script>
    import VueCircle from 'vue2-circle-progress-new'
    export default {
        name: "course-progress-card",
        props: {
            active: {
                type: Boolean,
                default: false,
                required: true
            }
        },
        components: {
            VueCircle
        }
    }
</script>
