<template>
  <router-link v-if="!soon" @click.prevent="" :to="{ name: routeName }" class="flex flex-col items-center justify-center sm:items-start">
    <img :src="img" class="rounded-2xl w-card-img h-card-img" />
    <div class="mt-5 space-y-2">
      <h2 class="text-md text-center sm:text-left text-black-second font-airbnb-cereal-app-bold">{{ title }}</h2>
      <span class="text-left text-sm text-light">{{ timereads }}</span>
      <p :class="soon ? 'text-red-400' : ''" class="max-w-xs text-sm text-left md:text-left font-airbnb-cereal-app-light text-black-default">{{ desc }}</p>
    </div>
  </router-link>
  <div v-else class="flex flex-col items-center justify-center sm:items-start">
    <img :src="img" class="rounded-2xl w-card-img h-card-img" />
    <div class="mt-5 space-y-2">
      <h2 class="text-md text-center sm:text-left text-black-second font-airbnb-cereal-app-bold">{{ title }}</h2>
      <span class="text-left text-sm text-light">{{ timereads }}</span>
      <p :class="soon ? 'text-red-400' : ''" class="max-w-xs text-sm text-left md:text-left font-airbnb-cereal-app-light text-black-default">{{ desc }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'course-card',
  props: {
    routeName: {
      type: String
    },
    lastViewed: {
      type: Boolean,
      default: false
    },
    img: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    timereads: {
      type: String,
      required: true
    },
    desc: {
      type: String,
      required: true
    },
    soon: {
      type: Boolean,
      reauired: false,
      default: false
    }
  }
}
</script>
