<template>
  <div class="w-full px-8 py-6 space-y-6 transition-all duration-200 ease-in-out" :class="{ 'bg-below-default': open }">
    <div @click="open = !open" class="flex items-center justify-between cursor-pointer">
      <h2 class="text-sm md:text-md lg:text-lg font-airbnb-cereal-app-bold text-black-default">{{ title }}</h2>
      <div class="ml-10">
        <svg
          :class="open ? 'rotate-0' : 'rotate-180'"
          class="transition-all duration-200 ease-in-out transform cursor-pointer"
          width="16"
          height="11"
          viewBox="0 0 14 9"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M13 7.80591L7 1.00234L1 7.80591" stroke="#0677CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
    
    <!-- NOT LIST -->
    <p v-if="!list" :class="open ? 'block' : 'hidden'" class="faq-content text-sm transition-all duration-200 ease-in-out font-airbnb-cereal-app-light text-black-default" v-html="content"></p>
    
    <!-- NESTED LIST -->
    <div v-else-if="list && nest">
      <template v-for="(item, key) in content">
        <p v-if="!Array.isArray(item)" :class="open ? 'block' : 'hidden'" class="cursor-default faq-content text-sm transition-all duration-200 ease-in-out font-airbnb-cereal-app-light text-black-default" :key="key" v-html="item"></p>
        <!-- eslint-disable-next-line vue/require-v-for-key -->
        <p v-else :class="open ? 'block' : 'hidden'" class="ml-4 cursor-default faq-content text-sm transition-all duration-200 ease-in-out font-airbnb-cereal-app-light text-black-default">
          <!-- eslint-disable-next-line vue/require-v-for-key -->
          <ul v-for="(list, index) in item" class="list-disc space-y-4">
            <li v-html="list" :key="index"></li>
          </ul>
        </p>
      </template>
    </div>
    
    <!-- SIMPLE LIST -->
    <p v-else :class="open ? 'block' : 'hidden'" class="ml-4 cursor-default faq-content text-sm transition-all duration-200 ease-in-out font-airbnb-cereal-app-light text-black-default">
      <ol v-if="list && listType == 'ol'" class="list-decimal space-y-4">
          <li v-for="(item, key) in content" :key="key" v-html="item"></li>
      </ol>
       <ul v-if="list && listType == 'ul'" class="list-disc space-y-4">
          <li v-for="(item, key) in content" :key="key" v-html="item"></li>
      </ul>
    </p>
  </div>
</template>

<script>
export default {
  name: 'faq-card',
  props: {
    title: {
      type: String,
      required: true
    },
    list: {
      type: Boolean,
      default: false
    },
    nest: {
      type: Boolean,
      default: false
    },
    listType: {
      type: String,
      default: 'ul'
    },
    content: {
      type: [String, Array],
      required: true
    }
  },
  data() {
    return {
      open: false
    }
  }
}
</script>
