<template>
    <input class="border-gray-300 rounded-md shadow-sm focus:border-blue-second focus:ring-1 focus:ring-blue-default" :value="modelValue" @input="$emit('update:modelValue', $event.target.value)" ref="input">
</template>

<script>
    export default {
        name: 'Input',
        props: ['modelValue'],

        emits: ['update:modelValue'],

        methods: {
            focus() {
                this.$refs.input.focus()
            }
        }
    }
</script>
