<template>
    <label class="block text-sm font-medium text-black-default font-airbnb-cereal-app-book">
        <span v-if="value">{{ value }}</span>
        <span v-else><slot /></span>
    </label>
</template>

<script>
    export default {
        name: 'Label',
        props: ['value']
    }
</script>
