<template>
  <div>
    <nav class="flex flex-col justify-center min-h-navbar py-1  bg-black-second border-b border-black-default">
      <div class="container relative flex items-center justify-between">
        <router-link :to="{ name: 'home' }" class="flex flex-col items-start lg:items-center justify-start lg:justify-center relative bottom-1">
          <img class="h-16 lg:ml-10" src="https://res.cloudinary.com/mukn/image/upload/v1630507410/images/LOGO2_sbyalv.png" style="width: 162px; height: 64px;" />
          <span class="text-white font-airbnb-cereal-app-book text-sm text-left lg:text-center">Learn the Glow programming language</span>
        </router-link>
        <ul class="items-center hidden space-x-10 text-base xl:flex text-white">
          <li><router-link :to="{ name: 'home' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Home</router-link></li>
          <li><router-link :to="{ name: 'modules' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Modules</router-link></li>
          <li><a target="_blank" href="https://glow-lang.org" class="transition-opacity duration-200 ease-in-out hover:opacity-75">About Glow</a></li>
          <li><router-link :to="{ name: 'faqs.index' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">FAQs</router-link></li>
          <!--<li><router-link :to="{ name: 'courses' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Courses</router-link></li>-->
          <router-link v-if="!user" v-slot="{ href, navigate }" custom :to="{ name: 'register' }">
            <li><a :href="href" @click="navigate" class="px-6 py-2 border rounded-full border-black-default font-airbnb-cereal-app-light">Register</a></li>
          </router-link>
          <router-link v-if="!user" v-slot="{ href }" custom :to="{ name: 'login' }">
            <li><a :href="href" @click.prevent.stop="showLogiModal" class="px-8 py-2 text-white border rounded-full bg-blue-default font-airbnb-cereal-app-light border-blue-default">Log in</a></li>
          </router-link>
          <li><account-dropdown v-if="user" :user="user"></account-dropdown></li>
        </ul>
        <div class="xl:hidden">
          <div class="relative w-10 h-10 text-gray-800 cursor-pointer" @click.prevent="toggle">
            <div class="absolute block w-5 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">
              <span aria-hidden="true" class="bg-white block absolute h-0.5 w-8 bg-current transform transition duration-300 ease-in-out" :class="{ 'rotate-45': open, ' -translate-y-2': !open }"></span>
              <span aria-hidden="true" class="bg-white block absolute  h-0.5 w-8 bg-current transform transition duration-300 ease-in-out" :class="{ 'opacity-0': open }"></span>
              <span aria-hidden="true" class="bg-white block absolute  h-0.5 w-8 bg-current transform  transition duration-300 ease-in-out" :class="{ '-rotate-45': open, ' translate-y-2': !open }"></span>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="border-b xl:hidden bg-black-second">
      <div class="container hidden py-4" id="menu-responsive">
        <ul class="flex flex-col space-y-6 text-base text-white pt-4">
          <li><router-link :to="{ name: 'home' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Home</router-link></li>
          <li><router-link :to="{ name: 'modules' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Modules</router-link></li>
          <li><a target="_blank" href="https://glow-lang.org" class="transition-opacity duration-200 ease-in-out hover:opacity-75">About Glow</a></li>
          <li><router-link :to="{ name: 'faqs.index' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">FAQs</router-link></li>
          <!--<li><router-link :to="{ name: 'courses' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Courses</router-link></li>-->
          <li v-if="!user"><router-link :to="{ name: 'register' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Register</router-link></li>
          <li v-if="!user"><router-link :to="{ name: 'login' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Log in</router-link></li>
          <li><account-dropdown v-if="user" :user="user"></account-dropdown></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      open: false
    }
  },
  computed: {
    ...mapGetters('Authentication', ['user'])
  },
  methods: {
    showLogiModal() {
      if (this.$route.name === 'home') this.modal = true
      else this.$router.push({ name: 'login' })
    },
    toggle() {
      let menu = window.$('#menu-responsive')
      menu.clearQueue()
      menu.stop()

      // Slide & change open value
      menu.slideToggle(400)
      this.open = !this.open
    }
  }
}
</script>
