<template>
  <div class="w-full h-screen bg-gray-100">
    <div class="container">
      <div class="max-w-sm max-h-screen py-40 mx-auto">
        <div class="px-4 py-6 bg-white border border-gray-200 rounded-md shadow-sm">
          <div class="flex items-center py-4 space-x-2">
            <h2 class="text-2xl text-blue-default font-airbnb-cereal-app-bold">Forgot Your Password?</h2>
          </div>
          <div class="mb-4 text-sm text-gray-600">
            Forgot your password? No problem. Just let us know your email address and we will email you a password reset link that will allow you to choose a new one.
          </div>

          <ul class="my-3 list-disc list-inside text-sm text-red-600">
            <li v-for="(error, key) in errors" :key="key">{{ error }}</li>
          </ul>

          <form @submit.prevent="submit">
            <div>
              <Label for="email" value="Email Address" />
              <input
                id="email"
                type="email"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                v-model="form.email"
                required
                autocomplete="email"
              />
            </div>

            <div class="mt-4">
              <Button :class="{ 'opacity-25': form.processing }" class="flex justify-center w-full py-3" :disabled="form.processing">
                Email Password Reset Link
              </Button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: '',
        processing: false
      },
      errors: []
    }
  },
  methods: {
    checkForm() {
      // clear errors.
      this.errors = []

      if (!this.form.email) this.errors.push('Your email address is required!')
      else if (!this.validEmail(this.form.email)) this.errors.push('Your email address is not valid.')
      if (!this.errors.length) return true
    },
    validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    async submit() {
      if (this.checkForm()) await this.$store.dispatch('Authentication/reset', this.form)
    }
  }
}
</script>
