<template>
  <div class="w-full h-screen bg-gray-100">
    <div class="container">
      <div class="max-w-sm max-h-screen py-40 mx-auto">
        <div class="px-4 py-6 bg-white border border-gray-200 rounded-md shadow-sm">
          <div class="flex items-center py-4 space-x-2">
            <h2 class="text-2xl text-blue-default font-airbnb-cereal-app-bold">
              Create An Account
            </h2>
          </div>

          <ul class="my-3 list-disc list-inside text-sm text-red-600">
            <li v-for="(error, key) in errors" :key="key">{{ error }}</li>
          </ul>

          <form @submit.prevent="register">
            <div>
              <Label for="username" value="Full name" />
              <input
                id="username"
                type="text"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                v-model="form.username"
                required
                autofocus
                autocomplete="username"
              />
            </div>

            <div class="mt-4">
              <Label for="email" value="Email" />
              <input
                id="email"
                type="email"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                v-model="form.email"
                required
                autocomplete="email"
              />
            </div>

            <div class="mt-4">
              <Label for="password" value="Password" />
              <input
                id="password"
                type="password"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                v-model="form.password"
                required
                autocomplete="password"
              />
            </div>

            <div class="mt-4">
              <Label for="password_confirmation" value="Password confirmation" />
              <input
                id="password_confirmation"
                type="password"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                v-model="form.password_confirmation"
                required
                autocomplete="password_confirmation"
              />
            </div>

            <div class="flex flex-wrap items-center justify-between w-full my-6 space-y-4 sm:space-y-0">
              <label class="flex items-center w-full sm:w-auto">
                <input
                  type="checkbox"
                  name="remember"
                  v-model="form.terms_of_use"
                  class="border-gray-300 rounded shadow-sm text-blue-default focus:border-blue-default focus:ring focus:ring-blue-second focus:ring-opacity-50"
                />
                <span class="ml-2 text-sm text-black-default">
                  I agree to the
                  <router-link :to="{ name: 'terms-conditions' }" class="text-sm text-black-default hover:underline">
                    terms of use.
                  </router-link>
                </span>
              </label>

              <router-link :to="{ name: 'login' }" class="w-full text-sm text-black-default text-opacity-60 hover:text-opacity-100 font-airbnb-cereal-app-book sm:w-auto">
                Already registered?
              </router-link>
            </div>

            <div class="mt-4">
              <Button class="flex justify-center w-full py-3" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Register
              </Button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        username: '',
        email: '',
        password: '',
        password_confirmation: '',
        terms_of_use: false,
        processing: false
      },
      errors: []
    }
  },
  methods: {
    checkForm() {
      // clear errors.
      this.errors = []

      // Username
      if (!this.form.username) {
        this.errors.push('The full name field is required!')
      }

      if (!this.form.email) {
        this.errors.push('Your email address is required!')
      } else if (!this.validEmail(this.form.email)) {
        this.errors.push('Your email address is not valid.')
      }

      if (!this.form.password) {
        this.errors.push('Your password is required!')
      } else if (this.form.password.length < 8) {
        this.errors.push('Your password must be greater than or equal to 8 characters.')
      } else if (this.form.password != this.form.password_confirmation) {
        this.errors.push('Your confirmation password is incorrect.')
      }

      if (!this.form.terms_of_use) {
        this.errors.push('You have not accepted the terms and conditions of use.')
      }

      if (!this.errors.length) {
        return true
      }
    },
    validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    /**
     * Register a new user.
     */
    async register() {
      if (this.checkForm()) {
        await this.$store.dispatch('Authentication/register', this.form)
      }
    }
  }
}
</script>
