<template>
  <div class="py-20">
    <div class="container">
      <div class="space-y-2">
        <h2 class="text-4xl font-airbnb-cereal-app-book">Profile Settings</h2>
        <p class="text-sm font-airbnb-cereal-app-book">Add information about yourself</p>
      </div>
      <div class="grid grid-cols-12 gap-5 mt-10 xl:gap-20">
        <div class="flex justify-center h-auto col-span-12 px-6 md:col-span-4 lg:col-span-3 py-14 bg-course-default rounded-xl">
          <div class="flex flex-col space-y-6">
            <div class="w-40 h-40 relative p-2 flex justify-center items-center bg-white border rounded-full border-blue-default">
              <img
                id="profile__pricture"
                class="w-40 rounded-full"
                :src="user.photoURL ? user.photoURL : 'https://res.cloudinary.com/mukn/image/upload/v1630507411/images/user_gilq3t.png'"
                alt="Profile Pricture"
              />
              <input type="file" ref="input_profile_pictures" @change="OnFileChange" accept="image/*" style="display: none;" />
              <span @click="browseImageFile" class="absolute right-0 p-2 rounded-full cursor-pointer bottom-5 bg-blue-default">
                <svg class="w-4 h-4 text-white fill-current" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.2255 11.3511C13.2255 13.1297 11.7786 14.5766 10 14.5766C8.22137 14.5766 6.77503 13.1297 6.77503 11.3511C6.77503 9.57247 8.22137 8.12557 10 8.12557C11.7786 8.12557 13.2255 9.57302 13.2255 11.3511ZM20 6.77101V15.9323C20 17.1536 19.0098 18.1438 17.7885 18.1438H2.21153C0.990214 18.1438 0 17.1536 0 15.9323V6.77101C0 5.54969 0.990214 4.55947 2.21153 4.55947H4.93172V3.79428C4.93172 2.72556 5.79753 1.85919 6.86681 1.85919H13.1332C14.2025 1.85919 15.0683 2.72556 15.0683 3.79428V4.55892H17.7885C19.0098 4.55947 20 5.54969 20 6.77101ZM14.8842 11.3511C14.8842 8.658 12.6931 6.46692 10 6.46692C7.30746 6.46692 5.11638 8.658 5.11638 11.3511C5.11638 14.0442 7.30746 16.2353 10 16.2353C12.6931 16.2353 14.8842 14.0442 14.8842 11.3511Z"
                  />
                </svg>
              </span>
            </div>
            <h2 class="text-xl text-center text-blue-default font-airbnb-cereal-app-bold">{{ user.displayName }}</h2>
            <nav class="pt-6">
              <ul class="space-y-3 text-lg text-black-second font-airbnb-cereal-app-medium opacity-90">
                <li><a href="#" class="hover:opacity-75">Notifications</a></li>
                <li><div @click="logout" class="cursor-pointer hover:opacity-75">Logout</div></li>
                <li><div @click="closeAccount" class="cursor-pointer hover:opacity-75">Close Account</div></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="h-auto col-span-12 px-6 md:col-span-8 lg:col-span-9 mt-10 md:mt-0 sm:px-14 py-14 bg-course-default rounded-xl">
          <form @submit.prevent="submit" class="space-y-10">
            <div>
              <h2 class="text-2xl text-black-default font-airbnb-cereal-app-book">Basic Info</h2>
              <div class="mt-6">
                <Label for="username" value="Full name (*)" />
                <input
                  id="username"
                  type="text"
                  class="block w-full mt-1 border-gray-300 rounded-md shadow-none focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                  v-model="form.username"
                  required
                  autocomplete="username"
                />
              </div>
              <div class="mt-12 sm:mt-6">
                <Label for="description" value="Description (*)" />
                <textarea
                  id="description"
                  rows="5"
                  class="block w-full mt-1 border-gray-300 rounded-md resize-y shadow-none focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                  v-model="form.description"
                  required
                ></textarea>
              </div>
            </div>

            <div>
              <h2 class="text-2xl text-black-default font-airbnb-cereal-app-book">Links</h2>
              <div class="mt-6">
                <Label for="website" value="Website (Optional)" />
                <input
                  id="website"
                  type="text"
                  class="block w-full mt-1 border-gray-300 rounded-md shadow-none focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                  v-model="form.website"
                  autocomplete="website"
                />
              </div>
              <div class="mt-6">
                <Label for="facebook" value="Facebook (Optional)" />
                <input
                  id="facebook"
                  type="text"
                  class="block w-full mt-1 border-gray-300 rounded-md shadow-none focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                  v-model="form.facebook"
                  autocomplete="facebook"
                />
              </div>
              <div class="mt-6">
                <Label for="linkedin" value="Linkedin (Optional)" />
                <input
                  id="linkedin"
                  type="text"
                  class="block w-full mt-1 border-gray-300 rounded-md shadow-none focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                  v-model="form.linkedin"
                  autocomplete="linkedin"
                />
              </div>
              <div class="mt-6">
                <Label for="youtube" value="Youtube (Optional)" />
                <input
                  id="youtube"
                  type="text"
                  class="block w-full mt-1 border-gray-300 rounded-md shadow-none focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                  v-model="form.youtube"
                  autocomplete="youtube"
                />
              </div>
              <div class="mt-6">
                <Label for="twitter" value="Twitter (Optional)" />
                <input
                  id="twitter"
                  type="text"
                  class="block w-full mt-1 border-gray-300 rounded-md shadow-none focus:border-blue-second focus:ring-1 focus:ring-blue-default"
                  v-model="form.twitter"
                  autocomplete="twitter"
                />
              </div>
            </div>

            <div class="flex justify-end w-full">
              <Button class="flex justify-center w-full px-16 py-3 rounded-md lg:w-auto" :blue="true" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Save
              </Button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import firebase from 'firebase'
export default {
  data() {
    return {
      form: {},
      image: '',
      file: null
    }
  },
  computed: {
    ...mapGetters('Authentication', ['user'])
  },
  methods: {
    browseImageFile() {
      this.$refs.input_profile_pictures.click()
    },
    async OnFileChange(event) {
      // Set IMAGE & File Source.
      this.image = null
      this.file = event.target.files[0]

      // Preview Image before upload.
      if (event.target.files && event.target.files[0]) {
        var reader = new FileReader()
        reader.onload = function(e) {
          // eslint-disable-next-line no-undef
          $('#profile__pricture').attr('src', e.target.result)
        }
        reader.readAsDataURL(event.target.files[0])
      }

      // Upload Profile Picture.
      await this.uploadProfilePicture()
    },
    async uploadProfilePicture() {
      await firebase
        .storage()
        .ref(`${this.file.name}`)
        .put(this.file)
        .then(snapshot => {
          snapshot.ref
            .getDownloadURL()
            .then(url => {
              this.image = url
              this.form.profile_picture = url
            })
            .catch(error => {
              this.Notify(error.message)
            })
        })
        .catch(error => {
          this.Notify(error.message)
        })
    },
    async submit() {
      await this.writeUserData(this.user.uid, this.form)
    },
    async writeUserData(userId, data) {
      await firebase
        .database()
        .ref('users/' + userId)
        .set(data)
        .then(() => {
          this.$store.dispatch('Authentication/update', data)
        })
        .catch(error => {
          this.Notify(error.message)
        })
    },
    logout() {
      this.$store.dispatch('Authentication/logout')
    },
    closeAccount() {
      this.$store.dispatch('Authentication/delete')
    }
  },
  async created() {
    const dbRef = firebase.database().ref()
    await dbRef
      .child('users')
      .child(this.user.uid)
      .get()
      .then(snapshot => {
        if (snapshot.exists()) {
          this.form = snapshot.val()
        }
      })
      .catch(error => {
        this.Notify(error.message)
      })
  }
}
</script>
